

.c_body{
	color: white;
	margin-right:50px;
	margin-left:80px;
	padding: 30px;
	background-color: #2b00d4;
}
.c_let{
	font-size: 40px;
	padding-left: 20px;
}
.c_bg1{
	background-color: #2b00d4;
}
.c_cross{
	color: white;
	position: absolute;
	font-size: 42px;
	top: 0;
	right: 140px;
	transform: rotate(45deg);
	cursor: pointer;
}
.c_text-b{
	display: inline-flex;
	color: #a9aaee;
	padding: 10px;
}
.c_lin{
	color: white;
}

.c_input[type="radio"]{
	display:none;
}
.c_input:checked+label{
    color: #1400ff;
    background-color: pink;
    background-position: 0 -90px;
    border: 1px solid #fff;
}
.c_label{
	margin: 20px;
}
.c_c1{
	border: none;
	color: white;
	height: 40px;
	margin: 10px;
	width: 40%;
	background-color: #3a28dc;
	width: 370px;
	padding-left: 20px;
}
.c_c2{
	border: none;
	height: 40px;
	margin: 10px;
	width: 40%;
	color: white;
	background-color: #3a28dc;
	width: 370px;
	padding-left: 20px;}
.c_c3{
	background-color: #3a28dc;
	border: none;
	color: white;
	height: 80px;
	margin: 10px;
	width: 40%;
	width: 370px;
	padding-left: 20px;
}
.c_c4{
	color: blue;
	height: 40px;
	margin: 10px;
	width:100px;
	margin-left: 10%;
}
.c_container{
	padding: 0;
	margin-right: 0;
	display:flex;
	box-shadow: 0 0 0px 0 #d1d1d1d;
}
.c_label1,.c_label2,.c_label3,.c_label4{
	background-color: #3a28dc;
	border: none;
	display: block;
	height: 40px;
	width: 100px;
	background-size: 130px 180px;
	position: relative;
	color: grey;
	border-spacing: 10px
	padding:5px;
	margin: 5px;
	cursor: pointer;
}
.c_label1{
	left: 5px;
	width: 90px;
	height: auto;
}
.c_label2{
	width: auto;
	height: auto;
}
.c_label3{
	height: auto;
	width: auto;
}
.c_label4{
	height: auto;
	width: auto;
}
.c_span{
	display: flex;
	padding: 10px;
}

